body {
  background-color: #C8E6F5;
  width: auto;

}
h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
hr {
  border-style:none;
  border-top: dotted;
  border-color: grey;
  width: 7%;
}
.underline
{
  text-decoration: underline;
}
.image {
  width: 200px;
  border-radius: 100%;
}

.igicu {

      background-image: url("cloud_computing.jpg");
      padding-bottom: 10%; 
      padding-left: 100%;
      border-top-left-radius:50%;
      border-bottom-left-radius:50%;
      border-top-right-radius:50%;
      border-bottom-right-radius:50%;
  

/* background-repeat: repeat; */

}


