body {
  background-color: #C8E6F5;

}
h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
hr {
  border-style:none;
  border-top: dotted;
  border-color: grey;
  width: 7%;
}
.underline
{
  text-decoration: underline;
}
.image1{
  width: 200px;
  border-radius: 100%;
}
.image2{
  width: 1500px;
  height: 30%;
}

